#deleteTask {
  color: rgb(240, 239, 239);
  background-color: red;
  padding: 5px;
  cursor: pointer;
}

.inducator {
  display: flex;
  justify-content: flex-end;
}

#closeArrow, #openArrow {
  width: 5%;
}

#closeArrow {
  transform: rotate(180deg);
}