.page {
  width: 100vw;
  min-height: 570px;
  padding: 0px;
  background: rgba(95, 95, 95, 0.1);
}

@media only screen and (min-width: 768px) {
  .page {
    width: 720px;
    min-height: 876px;
    border-radius: 0 0 3px 3px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 780px) {
  .page {
    width: 980px;
    min-height: 1210px;
  }
}

@media only screen and (min-width: 1025px) {
  .page {
    width: 980px;
    min-height: 905px;
  }
}
